<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Lotto</title>
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/lotto.css" />
    <link rel="icon" href="favicon.ico" />
  </head>

  <body>
    <header class="header">
      <nav>
        <a href="me.html">Me</a> | <a href="report.html">Report</a> |
        <a href="about.html">About</a> | <a href="schools.html">Schools</a> |<a
          href="flag.html"
          >Flags</a
        >
        |<a href="../../index.html">Assigments</a>
      </nav>
    </header>
    <container>
      <form action="/lotto" method="GET">
        First number:
        <input type="number" name="guess1" min="0" max="35" />
        <br />
        Second number:
        <input type="number" name="guess2" min="0" max="35" />
        <br />
        Third number:
        <input type="number" name="guess3" min="0" max="35" />
        <br />
        Fourth number:
        <input type="number" name="guess4" min="0" max="35" />
        <br />
        Fifth number:
        <input type="number" name="guess5" min="0" max="35" />
        <br />
        Sixth number:
        <input type="number" name="guess6" min="0" max="35" />
        <br />
        Seventh number:
        <input type="number" name="guess7" min="0" max="35" />
        <br />
        <input type="submit" value="Submit" />
      </form>
    </container>
    <footer>
      <hr />

      <table align="center" cellspacing="40">
        <tr>
          <td>
            <a href="https://github.com/Kubrom">
              <img
                src="images/github-logo.png"
                width="50px"
                alt="github image"
              />
            </a>
          </td>
          <td>
            <a href="https://www.linkedin.com/in/kubrom-mulugheta-14b5b5113/">
              <img
                src="images/linkedin-logo.png"
                width="50px"
                alt="linkedin image"
              />
            </a>
          </td>
          <td>
            <a href="https://twitter.com/bahgero">
              <img
                src="images/twitter-logo.png"
                width="50px"
                alt="twitter image"
              />
            </a>
          </td>
          <td>
            <a
              href="https://www.facebook.com/profile.php?id=565917511&ref=bookmarks"
            >
              <img
                src="images/facebook-logo.png"
                width="50px"
                alt="facebook image"
              />
            </a>
          </td>

          <td>
            <a href="https://www.instagram.com/lij_kbrom/">
              <img
                src="images/instagram.png"
                width="50px"
                alt="instagram image"
              />
            </a>
          </td>
        </tr>
      </table>
    </footer>
    <script src="js/lotto.js"></script>
  </body>
</html>
